SECRET_KEY="something-secret"
DEBUG=True
ALLOWED_HOSTS=[]
DATABASES={"default": {"ENGINE":"django.db.backends.sqlite3","NAME":"db.sqlite3"}}
SECURE_SSL_REDIRECT=False
SESSION_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
